footer{
	background-color: #0F4D16;
	text-align: center;
    font-size: 1.3rem;		
}

footer{
	 	img{
			position: fixed;
			right: 20px;
			bottom: 30px;
		}
}	

footer{
	 	img:hover{
					transform: rotate(-360deg);
					transition: transform 1s;	
    	}
}

	.img-footer{
		width: 4vw;
		height: auto;	
	}	